{% extends "base.html" %}

{% block content %}
<form action="/" method="get">
    <h1>Request Completed</h1>
    <h2>Request Result</h2>

    <table style="width:100%">
        <tr>
            <h4>Courier Type</h4>
            <p>{{t}}</p>
            <h4>Working Hours</h4>
            <p>{{wh}}</p>
            <h4>Working Regions</h4>
            <p>{{rs}}</p>
            <h4>Earnings</h4>
            <p>{{earnings}}</p>
            <h4>Rating</h4>
            <p>{{rating}}</p>
        </tr>
    </table>

</form>
{% endblock %}