{% extends "base.html" %}

{% block content %}
<h1>My Orders</h1>

<a class="btn btn-info " href="/change_flag">
    {% if current_user.show_completed %}
    Hide completed orders
    {% else %}
    Show completed orders
    {% endif %}
</a>
<br><br>

{% if current_user.user_type == 3 %}

<a class="btn btn-primary " href="/orders/complete/map">Map of all orders</a>

{% endif %}

{% for item in items %}
<div class="container">

    <h3>Order {{ item[0].id }} -
        {% if item[2] == "" %}
        New
        {% elif item[0].complete_time == "" %}
        In Transit
        {% else %}
        Delivered
        {% endif %}

    </h3>


    <details>
        <summary>
            Order Information
        </summary>
        <div id="order_info{{ item[0].id }}">
            <h5>Weight </h5>
            <p> {{ item[0].weight }}</p>
            <h5>Region </h5>
            <p> {{ item[0].region }}</p>
            <h5>Address </h5>
            <p> {{ item[0].address }}</p>
            <h5>Delivery Time </h5>
            <p>{{ item[1].hours }}</p>
            <h5>Courier </h5>
            <p>
                {% if item[2] == "" %}
                Courier not assigned
                {% else %}
                {{ item[2] }}
                {% endif %}
            </p>

            {% if current_user.user_type == 3 %}
            <h5>Client </h5>
            <p>{{ item[3] }}</p>
            {% endif %}

            <h5>Status</h5>
            {% if item[2] == "" %}
            <h6>New</h6>
            {% elif item[0].complete_time %}
            <h6>Delivered at {{ item[0].complete_time }} (GMT)</h6>
            {% else %}
            <h6>Order in transit</h6>
            {% endif %}


        </div>
    </details>


    <a class="btn btn-primary" style="width: 180px; height:80px" href="/orders/view/{{ item[0].id }}">Open Order Map</a>
    <a class="btn btn-danger" style="width: 180px; height:80px" href="/orders/delete/{{ item[0].id }}">Delete Order</a>

</div>
{% endfor %}
{% endblock %}