{% extends "base.html" %}

{% block content %}
<h1>New Order</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.weight.label }}<br>
        {{ form.weight(class="form-control") }}<br>
        {% for error in form.weight.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.region.label }}<br>
        {{ form.region(class="form-control") }}<br>
        {% for error in form.region.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.address.label }}<br>
        {{ form.address(class="form-control") }}<br>
        {% for error in form.address.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.workhours_start.label }}<br>
        {{ form.workhours_start(class="form-control") }}<br>

        {{ form.workhours_end.label }}<br>
        {{ form.workhours_end(class="form-control") }}<br>


        {% for error in form.workhours_start.errors + form.workhours_end.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}